
<%- include('../../layout/head', {title: 'Book Details'}) %>

<body>

  <%- include('../../layout/header') %>
  
  <%- include('detail') %> 
  
  <%- include('../../layout/footer') %>

</body>
</html>