
<%- include('../../layout/head', {title: 'Book Details'}) %>

<body>
  <%- include('../../layout/header') %>
  
  <main>
  
    <%- include('detail') %> 

  </main>
  
  <%- include('../../layout/footer') %>

</body>
</html>