
<%- include('../../layout/head', {title: 'Book Search'}) %>

<body>

  <%- include('../../layout/header') %>
  
  <form action="/searches" method="POST">
    <legend>Book Search</legend>
    <label for="userInput">Enter a title or author </label>
    <input type="text" name="userInput">
    <label for="title">Title</label>
    <!-- reference for radio buttons -->
    <!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_radio -->
    <input type="radio" name="searchType" value="title">
    <label for="author">Author</label>
    <input type="radio" name="searchType" value="author">
    <input type="submit" value="Search for a book">
  </form>

  <%- include('../../layout/footer') %>

</body>
</html>