
<%- include('../../layout/head', {title: 'Book Search'}) %>

<body>

  <%- include('../../layout/header') %>
  
  <main>

    <h3>Search by Title or Author</h3>

    <form action="/searches" method="POST">
      <input type="text" name="userInput" placeholder="Enter a title or author">
      <label for="title">Title</label>
      <!-- reference for radio buttons -->
      <!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_radio -->
      <input type="radio" name="searchType" value="title">
      <label for="author">Author</label>
      <input type="radio" name="searchType" value="author">
      <input type="submit" value="Search the Google Books API">
    </form>

  </main>

  <%- include('../../layout/footer') %>

</body>
</html>