<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Search</title>
  <link rel="stylesheet" href="/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="/styles/base.css" type="text/css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="/styles/modules.css" type="text/css">

</head>
<body>
  <form action="/searches" method="POST">
    <legend>Book Search</legend>
    <label for="userInput">Enter a title or author </label>
    <input type="text" name="userInput">
    <label for="title">Title</label>
    <!-- reference for radio buttons -->
    <!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_radio -->
    <input type="radio" name="searchType" value="title">
    <label for="author">Author</label>
    <input type="radio" name="searchType" value="author">
    <input type="submit" value="Search for a book">
  </form>
</body>
</html>