
<%- include('../../layout/head', {title: 'Search Results'}) %>

<body>
  
  <%- include('../../layout/header') %>

  <main>

    <% for (let book of books) { %>

      <%- include('../books/detail', {book, display: {min: true, det: false, desc: true, sel: true}}) %> 

    <% } %>

  </main>
    
    <%- include('../../layout/footer') %>

</body>
</html>
